.content-div{
    width:400px;
    height:550px;
    max-height:550px;
    
}

.w3-container{
    padding: 0px;
}

#articlesContainer{
    overflow: auto;
    max-height:90%;

}

.w3-row{
    text-align: center;
}

.w3-third.tablink{
    width: 33%;
    margin-left: 0px;
}

.removed {
    visibility: hidden;
}

img {
    width: 120px;
    height: 100px;
    margin: 0 0 0 0 ;
    border-radius: 5px;
}